/* Fastfood - Theme options stylesheet */

div.wrap {
	margin-right: 240px;
}
.button {
	min-width:130px;
}
#theme_donation {
	position: fixed;
	right: 20px;
	top: 118px;
	width: 200px;
	text-align: center;
	font-size: .8em;
}
#buttons {
	position: fixed;
	right: 20px;
	top: 300px;
	width: 200px;
	text-align: center;
}
#theme_bottom {
	clear: both;
	text-align: center;
	border-top: 1px solid #ccc;
	padding: 1em 0;
}
.no-js #theme_bottom {
	margin-bottom: 40px;
	border-bottom: 1px solid #ccc;
}
#theme-infos ul {
	list-style: disc outside;
	margin-left: 30px;
}
#theme-infos h3:first-of-type {
	margin-top:0;
}
#tabselector {
	margin-bottom: 10px;
}
#tabselector img {
	vertical-align: middle;
}
#buttons a {
	font-size: 10px; 
	text-decoration: none; 
	margin: 0 10px; 
}
a.nav-tab:focus {
	box-shadow: none;
}
.wp-picker-container {
	vertical-align: top;
	margin-bottom: 6px;
}
.wp-picker-container .button {
	margin-right: 6px;
}
.wp-picker-container .iris-picker {
	margin-bottom: 6px;
}
.form-table p.description {
	margin: 2px 0 8px;
}
.form-table textarea {
	min-width: 25em;
}
.form-table input[type="radio"] + span img {
	vertical-align: text-top;
}
span.menu-toggle {
	font-size: 25px;
	height: 29px;
	line-height: 29px;
	vertical-align: middle;
	display: none;
}
#buttons .button {
	margin-bottom: 20px;
}
.form-table td {
	padding-bottom: 35px;
}
.visibility-preview {
	background: none repeat scroll 0 0 #ccc;
	display: inline-block;
	padding: 0 0.5em;
	position: relative;
	height: 22px;
	line-height: 22px;
	border: 1px solid #ccc;
}
.visibility-preview:before {
	background: none repeat scroll 0 0 #F8F8F8;
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	width: 33.3333%;
	left: 0;
	top:0;
}
.visibility-preview:after {
	background: none repeat scroll 0 0 #404040;
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	width: 33.3333%;
	right: 0;
	top:0;
}
.visibility-preview span {
	position: relative;
	z-index: 3;
}
.theme-option-control {
	margin-top: 5px;
}
.theme-option-control-smart_radio label,
.theme-option-control-radio label {
	margin-left: 2em;
}
.theme-option-sprite-image {
	background: url("../images/admin/options-sprite.png") no-repeat left top transparent;
	display: inline-block;
	margin-right: 6px;
	vertical-align: text-top;
}
#theme-option-control-fastfood_rsideb_position label[title="right"] .theme-option-sprite-image {
	background-position: -235px 0;
	width: 65px;
	height: 55px;
}
#theme-option-control-fastfood_rsideb_position label[title="left"] .theme-option-sprite-image {
	background-position: -170px 0;
	width: 65px;
	height: 55px;
}
#theme-option-control-fastfood_mobile_css_color label[title="light"] .theme-option-sprite-image {
	background-position: -75px 0;
	height: 75px;
	width: 75px;
}
#theme-option-control-fastfood_mobile_css_color label[title="dark"] .theme-option-sprite-image {
	background-position: 0 0;
	height: 75px;
	width: 75px;
}

.more-info-link {
	border: 2px solid;
	border-radius: 0.9em;
	display: inline-block;
	font-size: 10px;
	height: 1.3em;
	line-height: 12px;
	text-align: center;
	text-decoration: none;
	vertical-align: bottom;
	width: 1.3em;
}
h3 {
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
	text-transform: uppercase;
}
.changelog-version {
	background: #ccc;
	display: inline-block;
	height: 2em;
	line-height: 2em;
	margin: 0;
	padding: 0 1em;
	position: relative;
}
.changelog-version:before {
	border-bottom: 1em solid transparent;
	border-left: 1em solid #ccc;
	border-top: 1em solid transparent;
	content: "";
	display: block;
	height: 0;
	position: absolute;
	right: -1em;
	width: 0;
}

@media screen and (max-width: 1024px) {
	#tabselector img {
		display: none;
	}
	h2 .nav-tab {
		font-size: 12px;
	}
}
@media screen and (max-width: 800px) {
	span.menu-toggle {
		display: inline-block;
	}
	#tabselector {
		padding: 0;
	}
	h2 .nav-tab {
		display: block;
		margin: 0;
	}
	.nav-tab-active,
	.nav-tab-active:hover {
		border-bottom: none;
	}
	.nav-tab-active {
		border-left: 2px solid #2ea2cc;
	}
}
@media screen and (max-width: 660px) {
	div.wrap {
		margin-right: 20px;
	}
	#theme_donation {
		position: static;
		width: auto;
		margin-bottom:20px;
	}
	#buttons {
		position: static;
		width: auto;
		margin: 20px 0;
		border-top: 1px solid #ccc;
		padding-top: 20px;
	}
	#buttons br {
		display: none;
	}
	#buttons .button {
		margin: 4px 10px;
	}
	.form-table input[type="text"], .form-table textarea {
		min-width: 0;
	}
}












