/* Fastfood - Widgets page */

#primary-widget-area:before,
#first-footer-widget-area:before,
#second-footer-widget-area:before,
#third-footer-widget-area:before,
#header-widget-area:before,
#error404-widgets-area:before,
#post-widgets-area:before {
	content: ' ';
	display: block;
	width: 24px;
	height:24px;
	background: url("../images/widgets/icons-sprite.png") no-repeat center transparent;
	margin: 10px auto;
}

#primary-widget-area:before {
	background-position: -35px bottom;
}
#first-footer-widget-area:before {
	background-position: -25px bottom;
}
#second-footer-widget-area:before {
	background-position: -20px bottom;
}
#third-footer-widget-area:before {
	background-position: -15px bottom;
}
#header-widget-area:before {
	background-position: -25px -15px;
}
#post-widgets-area:before {
	background-position: -25px -5px;
}
#error404-widgets-area:before {
	background-position: left bottom;
}
#tbm-widget-area {
	background: url("../images/widgets/mobwig.png") no-repeat center 10px transparent;
	padding-top: 80px;
}
div[id*=_ff-] .widget-title {
	background: url("../images/ff34_logo.png") no-repeat scroll 8px 5px transparent;
	padding-left: 32px;
}
