/* Fastfood - Widgets page */

#primary-widget-area:before,
#first-footer-widget-area:before,
#second-footer-widget-area:before,
#third-footer-widget-area:before,
#header-widget-area:before,
#error404-widgets-area:before,
#post-widgets-area:before,
#tbm-widget-area:before {
	content: ' ';
	display: block;
	width: 24px;
	height:24px;
	background: url("../images/widgets/icons-sprite.png") no-repeat center transparent;
	margin: 10px auto;
}
#primary-widget-area:before {
	background-position: -40px -20px;
}
#first-footer-widget-area:before {
	background-position: -25px bottom;
}
#second-footer-widget-area:before {
	background-position: -20px bottom;
}
#third-footer-widget-area:before {
	background-position: -15px bottom;
}
#header-widget-area:before {
	background-position: -15px -15px;
}
#post-widgets-area:before {
	background-position: -25px -5px;
}
#error404-widgets-area:before {
	background-position: left bottom;
}
#tbm-widget-area:before {
	background: url("../images/widgets/mobile.png") no-repeat center transparent;
}
div[id*=_ff-] .widget-title {
	background: url("../images/ff34_logo.png") no-repeat scroll 8px 50% transparent;
	padding-left: 16px;
}
.wp-customizer div[id*=_ff-] .widget-title {
	background-position: 0 50%;
	padding-left: 20px;
}
.sector-header {
	border-bottom: 1px solid #ddd;
}
.mp6 .sector-header {
	background:#0074A2;
	padding: 5px;
	color: #fff;
	margin: 10px -6px;
}