/* Fastfood - Widgets page */

#primary-widget-area {
	background: url("../images/widgets/widget_s1.png") no-repeat center 10px transparent;
	padding-top: 80px;
}
#first-footer-widget-area {
	background: url("../images/widgets/widget_f1.png") no-repeat center 10px transparent;
	padding-top: 80px;
}
#second-footer-widget-area {
	background: url("../images/widgets/widget_f2.png") no-repeat center 10px transparent;
	padding-top: 80px;
}
#third-footer-widget-area {
	background: url("../images/widgets/widget_f3.png") no-repeat center 10px transparent;
	padding-top: 80px;
}
#header-widget-area {
	background: url("../images/widgets/widget_h1.png") no-repeat center 10px transparent;
	padding-top: 80px;
}
#post-widgets-area {
	background: url("../images/widgets/widget_p1.png") no-repeat center 10px transparent;
	padding-top: 80px;
}
#tbm-widget-area {
	background: url("../images/widgets/mobwig.png") no-repeat center 10px transparent;
	padding-top: 80px;
}
div[id*=_ff-] .widget-title {
	background: url("../images/ff34_logo.png") no-repeat 2px center transparent;
	padding-left: 42px;
}
