/* Fastfood - Theme options stylesheet */

#tabs-container p {
	margin: 3em 0;
}
input[type="radio"] {
	margin-left: 20px;
}
#theme-infos ul {
	list-style: disc outside;
	margin-left: 30px;
}
#theme-options,
#theme-infos {
	margin: 0;
	padding: 0;
	min-height: 250px;
}
#theme-infos h3:first-of-type {
	margin-top:0;
}
#tabs-container {
	margin: 0 20px 20px 150px;
}
h2.section-tile {
	background: #fff;
	margin: 0 0 20px;
	padding: 10px;
	text-align: center;
}
#tabselector,
#selector {
	position: absolute;
	left: 0;
	margin: 0;
}
#tabselector li,
#selector li {
	width: 130px;
	padding: 3px 16px 3px 4px;
}
#tabselector li a,
#selector li a {
	text-decoration: none;
}
.sel-active a {
	color: #000;
}

.sel-active {
	font-weight: bold;
	background: url("../images/litem_rtl.png") no-repeat 135px center transparent;
}
#main-wrap {
	position: relative;
}
.stylediv {
	clear: both;
	text-align: center;
	border: 1px solid #ccc;
	margin-top: 10px;
}
.column-nam {
	font-weight: bold;
	font-size: 1.2em;
	margin-right: 5px;
}
.sub-opt-nam {
	font-size: 11px;
	font-weight: bold;
}
.sub-opt-des {
	font-style:italic;
	font-size: 10px;
}
.column-des {
	font-style:italic;
	font-size: 10px;
	margin-top: 4px;
}
.column-req {
	border-top: 1px solid #eee;
	margin-top: 10px;
	color: #999;
	text-align: right;
}
.tab-opt {
	padding: 20px 10px 20px;
	border: 1px solid #eee;
	margin-bottom: 20px;
}
.tab-opt:hover {
	background: #f9f9f9;
}
.sub-opt-wrap {
	margin-top: 10px;
	padding-top: 10px;
	padding-left: 20px;
	border-top: 1px solid #eee;
}
.column-des + .sub-opt {
	border-top: none;
	padding-top: 0;
}
.extra-actions a {
	font-size: 10px; 
	text-decoration: none; 
	margin: 0 10px;
}
label img {
	vertical-align: middle;
}
.theme-notes {
	text-align: center;
	border: 1px solid #eee;
}
br.clear {
	display: block;
}
.wp-picker-container {
	vertical-align: middle;
}
.wp-picker-holder {
	position: absolute;
	z-index: 10;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.wp-color-result.wp-picker-open {
	top: 1px;
}
.col-preview {
	background: #f8f8f8;
	padding: 0 4px;
}
.admin-color-mp6 .tab-opt {
	border:none;
	border-bottom: 1px solid #DFDFDF;
}
.admin-color-mp6 .tab-opt:hover {
	background: transparent;
}
.admin-color-mp6 #tabselector li, #selector li {
	border-left: 3px solid transparent;
	padding: 0.5em 16px 0.5em 4px;
}
.admin-color-mp6 .sel-active {
	background: none repeat scroll 0 0 #fff;
	border-left: 3px solid #0074A2 !important;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	font-weight: normal;
}
.admin-color-mp6 #tabs-container {
	margin: 0px 20px 20px 200px;
}
.admin-color-mp6 .tab-opt {
	padding: 0 10px 20px;
}











