#galed-icon {
	background: transparent url(../images/galed32.png) center no-repeat;
}
#galed-sortable-list .item,
#galed-sortable-list .galed_sortable_placeholder,
#galed-add-image {
	float: left;
	margin: 5px;
	padding: 5px;	
	width: 150px;
	height: 150px;
	line-height: 150px;
	text-align: center;
}
#galed-sortable-list .item {
	background-color: #fff;
	border: 1px solid #ddd;
	position: relative;
	cursor: move;
}
#galed-sortable-list .item > img {
	vertical-align: middle;
}
#galed-sortable-list .galed_sortable_placeholder {
	border: 1px solid #fcefa1/*{borderColorHighlight}*/;
	background: #fbf9ee/*{bgColorHighlight}*/
}
#galed-add-image {
	background-color: #eee;
	border: 1px solid #ddd;
	font-size: 4em;
	text-decoration: none;
	text-shadow: 1px 1px 0 #fff;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
#galed-add-image:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
#galed-code {
	width: 50%;
}
#galed-code-note {
	display: none;
}
.item-remove,
.item-link {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 32px;
	height: 32px;
	background-color: #000;
	background-color: rgba(0,0,0,0.5);
	background-position: center center;
	background-repeat: no-repeat;
}
.item-link {
	right: 32px;
}
.item-remove {
	background-image: url(../images/trash.png);
}
.item-link {
	background-image: url(../images/full.png);
}
#galed-sortable-list .item:hover .item-remove,
#galed-sortable-list .item:hover .item-link {
	display: block;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
#galed-sortable-list .item .item-remove:hover,
#galed-sortable-list .item .item-link:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.ui-sortable-helper {
	box-shadow: 0 0 3px #000;
}