/* Fastfood - stylesheet for custom header */

#headimg {
	border: 1px solid #777 !important;
	background-position:left top;
	background-repeat: no-repeat;
	-moz-box-shadow: 0 0 7px #000;
	box-shadow: 0 0 7px #000;
	-webkit-box-shadow: 0 0 7px #000;
	-khtml-box-shadow: 0 0 7px #000;
}
#headimg.slide {
	background-position:center;
	background-color: #d4d4d4;
	background-repeat: no-repeat;
}
#headimg h1 {
	line-height: normal;
	margin: 0;
	padding-bottom: 10px;
}
#headimg #name {
	font-size:1.5em;
	font-style:italic;
	text-decoration:none;
}
#headimg #desc {
	font-size:11px;
	font-style:italic;
}
.random-header label {
	margin-right: 10px;
}
#slider-settings+.available-headers .default-header:nth-child(3n+1) {
	clear: left;
}
#head-text {
	padding: 10px 20px;
	margin-top: 10px;
}
#head-text.black {
	background: rgba(0,0,0,0.7);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
}
#head-text.white {
	background: rgba(255,255,255,0.7);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#b3ffffff',GradientType=0 ); /* IE6-9 */
}
