/* Fastfood v0.16 - stylesheet for custom header */

#headimg {
	border: 1px solid #777 !important;
	background-position:right bottom;
	-moz-box-shadow: 0 0 7px #000;
	box-shadow: 0 0 7px #000;
	-webkit-box-shadow: 0 0 7px #000;
	-khtml-box-shadow: 0 0 7px #000;
}
#headimg h1 {
	margin:20px 20px 5px;
}
#headimg #name {
	font-size:1.5em;
	font-style:italic;
	text-decoration:none;
	text-shadow:1px 1px 0 #fff;
}
#headimg #desc {
	font-size:11px;
	text-shadow:1px 1px 0 #fff;
	font-style:italic;
	padding-left:20px;
}
