/* Fastfood - Theme options stylesheet */

input[type="checkbox"], input[type="radio"] {
	vertical-align: text-bottom;
}
#fastfood-infos ul {
	list-style: disc outside;
	margin-left: 30px;
}
#fastfood-options,
#fastfood-infos {
	background: #f9f9f9;
	-moz-box-shadow: 0px 2px 8px #404040;
	-webkit-box-shadow: 0px 2px 8px #404040;
	box-shadow: 0px 2px 8px #404040;
	margin: 0;
	padding: 20px 10px;
}
#tabs-container {
	margin: 20px 20px 20px 150px;
}
#ff-tabselector,
#selector {
	position: absolute;
	top: 100px;
	left: 0;
}
#ff-tabselector li,
#selector li {
	width: 130px;
	padding: 3px 16px 3px 4px;
}
#ff-tabselector li a,
#selector li a {
	text-decoration: none;
}
.sel-active a {
	color: #000;
}

.sel-active {
	font-weight: bold;
	background: url("../images/litem_rtl.png") no-repeat 135px center transparent;
}
#ff-main-wrap {
	position: relative;
}
.stylediv {
	clear: both;
	text-align: center;
	border: 1px solid #ccc;
	margin-top: 10px;
}
.column-nam {
	font-weight: bold;
	font-size: 1.1em;
}
.ff-sub-opt-nam {
	font-size: 11px;
	font-weight: bold;
}
.ff-sub-opt-des {
	font-style:italic;
	font-size: 10px;
}
.column-des {
	font-style:italic;
	border-top: 1px solid #eee;
	font-size: 10px;
	margin-top: 10px;
}
.column-req {
	border-top: 1px solid #eee;
	margin-top: 10px;
	color: #999;
}
.color_preview_box {
	width:2em;
	border:1px solid #262626;
	cursor: crosshair;
}
.ff-tab-opt {
	padding: 10px;
	border-bottom: 2px groove #fff;
}
.ff-sub-opt {
	margin-top: 10px;
}
.ff-col-tools {
	margin-top: 10px;
	position: relative;
}
.ff_cp {
	background:#eee;
	border:1px solid #aaa;
	position:absolute;
	display:none;
	top: 25px;
	left: 31px;
	z-index: 500;
	box-shadow: 0 0 2px #777;
}
.farbtastic .wheel {
    left: 0;
    top: 0;
}
