/* Fastfood v0.18 - stylesheet for mobiles */

/* =reset
----------------------------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}
/* =standard tags
----------------------------------------------------------*/
body {
    background: #F7F7F7;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	color: #404040;
	margin: 0;
}
a img {
	border: none;
}
a {
	text-decoration: none;
	color: #d2691e;
}
a:hover,
a:focus,
.current-menu-item a:hover,
.current_page_item a:hover,
.current-cat a:hover {
	color: #ff4500;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: .5em 0;
}
.storycontent p {
	line-height: 1.3em;
	margin: 1em 0;
}
ul {
	list-style: none inside none;
	margin: 0 0 0 15px;
	padding: 0;
}
ol {
	list-style: decimal outside none;
	margin: 0 0 0 30px;
	padding: 0;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 0 .5em 40px;
}
fieldset {
	border: 1px solid #ccc;
	padding: 8px;
}
legend {
	color: #999;
}
blockquote {
	border-left: 5px solid #ccc;
	margin-left: 15px;
	padding-left: 15px;
	font-style: italic;
}
pre,
code,
tt,
kbd {
	font: 1.2em "Courier New", monospace;
	letter-spacing: 1px;
	padding: 0 8px;
}
pre {
	background-color: #fff;
	border: 1px solid #ccc;
	display: block;
	overflow: auto;
	white-space: pre;
	max-width: 100%;
	margin: 5px auto;
	padding: 5px;
}
.storycontent table {
	background-color: #ccc;
	border-collapse: collapse;
	text-align: left;
	width: 100%;
	border-color: #fff;
}
.storycontent td {
	border-bottom: 1px solid #fff;
	padding: 3px;
}
.storycontent th {
	border-bottom: 4px solid #404040;
	padding: 3px;
}
input {
	font-size: 1.1em;
}
select {
	max-width: 100%;
	background-color: #fff;
	border: 1px solid #ccc;
}
object,
embed {
	max-width: 100%;
}
textarea,
input[type=text],
input[type=password] {
	border: 1px solid #BEC0BE;
}
textarea:hover,
input[type=text]:hover,
input[type=password]:hover,
textarea:focus,
input[type=text]:focus,
input[type=password]:focus {
	border: 1px solid #d2691e;
}
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
	cursor: pointer;
}
/* =various containers
----------------------------------------------------------*/
.fixfloat {
	clear: both;
}
#footer,
#navbuttons_cont {
	background: #404040;
	color: #ccc;
	padding: 2px;
	text-align: center;
	border-top: 2px groove #333;
}
/* =Header
----------------------------------------------------------*/
#head {
	font-style: italic;
	background: #404040;
	border-bottom: 2px groove #333;
}
#head a {
	color: #fff;
    padding: 5px;
	display: block;
}
#head h1 {
	margin: 0;
}
.description {
	display: none;
}
.search-form {
	border-bottom: 2px groove #333;
	margin: 0 0 5px;
	padding: 3px 0;
	text-align: center;
}
#s {
    background: url("../images/lens.png") no-repeat scroll left center #fff;
    padding-left: 20px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 200px;
}
/* =navigation buttons
----------------------------------------------------------*/
#navbuttons {
	text-align: left;
}
#mini-welcome {
	padding: 3px;
}
#mini-welcome a {
    text-align: center;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #404040 url('../images/litem.png') right center no-repeat;
	border: 1px solid #777;
	-moz-box-shadow: 0 0 3px #000;
	-webkit-box-shadow: 0 0 3px #000;
	box-shadow: 0 0 3px #000;
	display: inline-block;
	padding: 5px 15px 5px 5px ;
    margin: 2px 5px;
}
#mini-welcome a:focus,
#mini-welcome a:hover {
	background-color: #aaa;
}
.minib_img {
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	height: 20px;
	width: 20px;
	background-color: #ccc;
	background-image: url('../images/minibuttons.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	border: 1px solid #fff;
    margin: 3px;
}
.minibutton > a:focus,
.minibutton > a:hover {
	background-color: #aaa;
}
.minibutton > a {
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 3px #000;
	-webkit-box-shadow: 0 0 3px #000;
	box-shadow: 0 0 3px #000;
    background: #404040 url('../images/litem.png') right center no-repeat;
    display: block;
	border: 1px solid #777;
	line-height: 24px;
	padding-right: 15px;
    margin: 4px 5px;
}
.minibutton .nb_tooltip {
}
/* =main menu
----------------------------------------------------------*/
#pages {
	padding: 0 0 5px;
	background: #404040;
	border-bottom: 2px groove #ccc;
}
#mainmenu {
    margin: 0;
    padding: 0;
}
#mainmenu > li{
    float: left;
	width: 50%;
}
#mainmenu > li a{
    text-align: center;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #404040 url('../images/litem.png') right center no-repeat;
	border: 1px solid #777;
	-moz-box-shadow: 0 0 3px #000;
	-webkit-box-shadow: 0 0 3px #000;
	box-shadow: 0 0 3px #000;
	display: block;
	padding: 5px;
    margin: 2px 5px;
}
#mainmenu > li a:focus,
#mainmenu > li a:hover {
	background-color: #aaa;
}
#mainmenu > li > ul {
	display: none;
}
.ff-menu {
	background-color: #404040;
	text-align: center;
}
.ff-menu li,
.ff-menu li {
	display: inline;
	margin: 0 10px;
	padding: 0;
}
/* =meta
----------------------------------------------------------*/
.meta,
#reply-title,
.comment_tools {
	border-bottom: 1px solid #ccc;
	margin: 0 0 10px;
	font-size: 11px;
	padding-bottom: 5px;
}
.comment_tools a {
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFFFFF;
	border: 2px groove #ccc;
	display: inline-block;
	line-height: 20px;
	margin: 3px;
	padding: 0 7px;
	text-align: center;
}
.metafield_trigger,
.metafield {
	margin: 2px 0;
}
#navPages_ul ul.children {
	padding: 0 10px 0 0;
}
#navPages_ul li {
	list-style: disc inside url('../images/litem.png');
}
/* =posts & pages
----------------------------------------------------------*/
.posts_narrow,
.posts_wide {
	padding: 15px 5px;
    background: #F7F7F7;
	min-height: 200px;
}
#content .hentry {
	margin-bottom: 20px;
}
.storycontent {
	font-size: 12px;
}
.storytitle {
	margin-top: 0;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	border: 2px groove #ccc;
}
.storytitle a {
	display: block;
	padding: 5px;
	background: transparent url('../images/litem.png') right center no-repeat;
}
.storycontent img {
	width: auto;
	height: auto;
	max-width: 100%;
	margin: 0;
}
.storycontent ul li,
.widget ul li {
	list-style: disc outside url('../images/litem.png');
}
.dim_cpc {
	background: transparent url('../images/minibuttons.png') left -217px no-repeat;
	padding: 1px 2px 1px 24px !important;
}
.image_tools .alignleft,
.image_tools .alignright {
	display: block;
	float: none;
	margin: 0;
	text-align: center;
}
.w_title {
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.format-aside .aside-cont,
.category-aside .aside-cont {
	background: #fff;
	border: 1px dashed #ccc;
	padding: 5px;
}
/* =comments
----------------------------------------------------------*/
.comment-body {
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	position: relative;
	min-height: 60px;
	background-color: #f9f9f9;
	margin: 2px 0;
	padding: 3px 40px 3px 3px;
}
.bypostauthor > .comment-body {
	background-color: #eee;
}
.comment-body .avatar {
	position: absolute;
	top: 2px;
	right: 2px;
}
.comment-reply-link {
	background: url('../images/comment_reply.png') no-repeat scroll left center #fff;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px groove #ccc;
	display: inline-block;
	line-height: 20px;
	margin: 3px;
	padding: 0 7px 0 25px;
	text-align: center;
}
ul.children {
	margin: 0;
	padding: 0 0 0 10px;
}
.nav-previous-comm {
	float: left;
	text-align: left;
	width: 50%;
}
.nav-next-comm {
	float: right;
	text-align: right;
	width: 50%;
}
.nav-previous-comm a {
	border-right: 1px solid #ccc;
}
.nav-next-comm a {
	border-left: 1px solid #ccc;
}
#commentlist {
	position: relative;
}
.trackback ,
.pingback  {
	list-style: none outside none;
}
#respond {
	padding-top: 10px;
}
#reply-title {
	font-size: 1em;
	font-weight: normal;
	text-align: right;
}
.reply {
	text-align: right;
	margin-right: -38px;
}
.trackback .reply,
.pingback .reply,
.trackback .says,
.pingback .says {
	display: none;
}
.trackback .comment-body,
.pingback .comment-body {
	border: none;
	background-color: #F7F7F7;
}
.must-log-in {
	font-size: 1.4em;
	font-weight: bold;
	text-align: center;
}
.navigate_comments {
	margin-top: 15px;
	background: #fff;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px groove #ccc;
}
.nav-previous-comm a,
.nav-next-comm a {
	padding: 4px;
	display: block;
}
/* =Gallery listing
----------------------------------------------------------*/
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb {
	float: left;
	margin: 0 20px 5px 0;
	border: 2px solid #CFCFCF;
}
.gallery .gallery-caption {
	color: #888;
	font-size: .8em;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery br+br {
	display: none;
}
/* =Captions & aligment
----------------------------------------------------------*/
.aligncenter,
div.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
}
img.alignright,
.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background-color: #ccc;
	border: 1px solid #fff;
	padding-top: 4px;
	text-align: center;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 10px;
	max-width: 90%;
}
.wp-caption img {
	border: 0 none;
	margin: 0;
	padding: 0;
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

.no-mobile {
	display: none;
}