/* Fastfood - stylesheet for print preview */

body {
	background-color: #333;
}
#main {
	box-shadow: 0 0 10px #000;
	background: none repeat scroll 0 0 #fff;
	width: 702px;
	min-height: 1000px;
	margin: 30px auto 0;
	padding: 49px;
}
#close_preview {
	margin-left: 770px;
	position: fixed;
	top: 60px;
}
#close_preview a {
	text-decoration: none;
	display: block;
	padding: 5px;
	width: 32px;
	height: 32px;
	background-color: transparent;
	background-image: url('../images/round-buttons.png');
	background-repeat: no-repeat;
	text-indent: -1000px;
	overflow: hidden;
	margin-bottom: 10px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
#print_button {
	background-position: -126px top;
}
#close_button {
	background-position: -84px top;
}
#close_preview a:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.ff-js .hide-if-js,
.ff-no-js .hide-if-no-js {
	display:none !important;
}