/* Fastfood v0.24 - stylesheet for print preview */

body {
	background-color: #eee;
}
#main {
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
	background: none repeat scroll 0 0 #fff;
	width: 702px;
	min-height: 1000px;
	margin: 30px auto 0;
	padding: 49px;
}
#close_preview {
	background: none repeat scroll 0 0 #ccc;
	border: 1px solid #fff;
	display: block;
	margin-left: 770px;
	position: fixed;
	top: 30px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 3px #444;
	-webkit-box-shadow: 2px 2px 3px #444;
	box-shadow: 2px 2px 3px #444;
	padding: 5px 0;
}
#close_preview a {
	text-decoration: none;
	color: Chocolate;
	display: block;
	padding: 5px;
}
#close_preview a:hover {
	color: OrangeRed;
}
#close_preview a#print_button {
	display: none;
	border-top: 1px solid #999;
}
