/* Low Resolutions
----------------------------------------------------------*/
#quickbar,
#statusbar {
	display: none;
}
.minibutton {
	display: inline;
}
#navbuttons {
	background: #f8f8f8;
	border-top: 1px solid #ccc;
	position: static;
	text-align: center;
}
.minibutton .nb_tooltip {
	display: none !important;
}
.minibutton .minib_img {
	line-height: 2em;
	height: 2em;
	color: #404040 !important;
	width: 50px;
	display: inline-block;
}
.minib_img.el-icon-print,
.minib_img.el-icon-refresh,
.minib_img.el-icon-rss {
	display: none;
}

@media screen and (max-width: 782px) {
	body {
		font-size: 16px !important;
	}
	body.has-header-image #head-text {
		position: static;
		background: transparent;
		z-index: 0;
	}
	div#head-text h1 a,
	div#head-text {
		color: #404040;
	}
	#head-text h1 {
		font-size: 2em;
	}
	#posts_content {
		min-height: auto;
	}
	#posts_content.posts_wide,
	#posts_content.posts_narrow {
		border: none;
		width: 100%;
		float: none;
		clear: both;
	}
	div#primary-widget-area {
		margin-top: 30px;
		width: 100%;
		float: none;
	}
	#main .widget,
	#main .widget:first-child,
	#main .widget.colspan-2{
		float: left;
		width: 50%;
		padding: 20px;
		clear: none;
	}
	#primary-widget-area .widget:nth-of-type(2n+1) {
		clear: left;
	}
	#footer-widget-area {
	}
	.fixed-menu #menu-primary-container {
		position: static;
	}
	.fixed-menu #menu-primary-placeholder {
		display: none;
	}
	.coming-soon .hentry {
		border: none;
		box-shadow: none;
	}
	.menu-container {
		position: relative;
		height: 40px;
	}
	.menu-container:before {
		content: "\e690";
		display: block;
		font-family: Elusive-Icons;
		font-style: normal;
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		line-height: 40px;
		height: 40px;
		position: absolute;
		left: 0;
	}
	.minibutton .minib_img {
		font-size: 24px;
	}
	.tinynav {
		display: block;
		width: 100%;
		padding-left: 40px;
		border: none;
		background: #404040;
		color: #fff;
		font-weight: bold;
		-webkit-appearance: none;
		height: 40px;
	}
	.tinynav option {
		margin: 5px 0;
		font-weight: normal;
	}
	.ff-js.tinynav-support .nav-menu {
		display: none !important;
	}
	.tinynav option:first-child {
		font-weight: bold;
		margin-bottom:10px;
	}
	.fixed-menu #menu-primary-container {
		position: static;
	}
	.fixed-menu #menu-primary-placeholder {
		display: none;
	}
	#respond.visible,
	#respond.hidden {
		display: block !important;
	}
	#hide-respond-link {
		display: none;
	}
	.solid-label.after-comments {
		display: none;
	}
	.comment .comment-meta {
		display: none;
	}
	#featured-content .entry-content,
	#featured-content .featured-navigation {
		display: none;
	}
	#featured-content .entry-title-content {
		white-space: nowrap;
	}
	.posts_wide .nav-single {
		margin-left: -20px;
		margin-right: -20px;
		position: static;
		width: auto;
	}
}

@media screen and (max-width: 479px) {
	#head-text .description {
		display: none;
	}
	#main .widget-area .widget {
		float: none;
		width: 100%;
	}
}