/* Fastfood v0.22 - Widgets page */

#primary-widget-area {
	background: url("../images/widgets/widget_s1.png") no-repeat center 10px transparent;
	padding-top: 80px;
}
#first-footer-widget-area {
	background: url("../images/widgets/widget_f1.png") no-repeat center 10px transparent;
	padding-top: 80px;
}
#second-footer-widget-area {
	background: url("../images/widgets/widget_f2.png") no-repeat center 10px transparent;
	padding-top: 80px;
}
#third-footer-widget-area {
	background: url("../images/widgets/widget_f3.png") no-repeat center 10px transparent;
	padding-top: 80px;
}
#header-widget-area {
	background: url("../images/widgets/widget_h1.png") no-repeat center 10px transparent;
	padding-top: 80px;
}

div[id*=ff-recent-comments] .widget-title {
	background: url("../images/tb_micrologo.png") no-repeat 2px center transparent;
	padding-left: 42px;
}
div[id*=ff-social] .widget-title {
	background: url("../images/tb_micrologo.png") no-repeat 2px center transparent;
	padding-left: 42px;
}
div[id*=ff-categories] .widget-title {
	background: url("../images/tb_micrologo.png") no-repeat 2px center transparent;
	padding-left: 42px;
}
div[id*=ff-recent-commentators] .widget-title {
	background: url("../images/tb_micrologo.png") no-repeat 2px center transparent;
	padding-left: 42px;
}
div[id*=ff-popular-posts] .widget-title {
	background: url("../images/tb_micrologo.png") no-repeat 2px center transparent;
	padding-left: 42px;
}
