/*
RTL style for FastFood
*/

body {
	direction:rtl;
	unicode-bidi:embed;
}
ul li {
	margin: 0 1em 0 0;
}
ol li {
	margin: 0 2em 0 0;
}
dd {
	margin: 0 40px .5em 0;
}
blockquote {
	border-right: 5px solid #ccc;
	margin-right: 15px;
	padding-right: 15px;
	border-left: none;
	margin-left: 0;
	padding-left: 0;
}
.quote-cont blockquote {
	margin-left: 0;
	margin-right: 45px;
}
.quote-cont .el-icon-quotes {
	float: right;
}
.entry-content table {
	text-align: right;
}
input[type=password] {
	background: #fff url('images/lock.png') right center no-repeat;
	padding-left: 0;
	padding-right: 30px;
}
.nav-menu > li {
	margin: 0 0 0 20px;
}
.nav-menu.multiple-levels .menu-item-parent > a:after {
	padding: 0 5px 0 0;
}
.nav-menu.multiple-levels > li > ul.children {
	left: auto;
	right: 0;
}
.crumbs > li,
.crumbs > a,
.crumbs > span {
	float: right;
	border-right: none;
	border-left: 1px solid #fff;
}
.crumbs > .bbp-breadcrumb-home:first-child,
.crumbs > .home:first-child,
.crumbs.wpseo > span:first-child {
	margin-left: 0;
	margin-right: -20px;
}
.hentry.sticky:before {
	left: 0;
	right: auto;
}
.entry-title.with-thumbnail .entry-title-content {
	padding-left: 0;
	padding-right: 50px;
}
.entry-title-thumbnail {
	left: auto;
	right: 0;
}
.entry-title.with-thumbnail .entry-title-text {
	padding-left: 0;
	padding-right: 5px;
}
.metadata-panel-author .metadata-panel-trigger {
	margin-left: .5em;
}
.metafield-content_js {
	text-align: left;
}
.status-subcont {
	margin-left: 0;
	margin-right: 60px;
}
.status-avatar {
	float: right;
}
.widget-area .widget {
	float: right;
}
.ff_widget_popular_posts li.li-with-thumbs, .ff_widget_latest_commented_posts li.li-with-thumbs {
	padding-left: 0;
	padding-right: 46px;
}
div.ff_widget_latest_commentators ul li {
	float: right;
}
.nav-pages {
	text-align: left;
}
.quickbar-panel-content {
	margin-right: 50%;
}
.preview {
	padding-left: 1px;
}
.preview img.wp-post-image {
	margin: 0 0 0 5px;
}
.preview img.avatar {
	float: right;
	margin: 0 0 0.5em 0.5em;
}
#logged .avatar {
	margin: 0 0 0 10px;
}
.comment-reply-link {
	background: url('images/comment_reply.png') no-repeat scroll right center transparent;
	padding: 4px 24px 0 0;
}
ul.children {
	padding: 0 10px 0 0;
}
.reply {
	text-align: left;
	margin: 0;
}
.navigate_comments a, .navigate_comments span {
	margin-right: 0;
	margin-left: 0.5em;
}
.category-gallery .gallery-thumb {
	float: right;
	margin-right: 0;
	margin-left: 20px;
}
.gallery .gallery-item {
	float: right;
}
img.alignleft,
.alignleft {
	float: right;
	margin-right: 0;
	margin-left: 24px;
}
img.alignright,
.alignright {
	float: left;
	margin-left: 0;
	margin-right: 24px;
}
.search-form {
}
.widget .tbm-format,
.widget.tb_popular_posts img,
.widget.tb_recent_entries img,
.widget.tb_latest_commented_posts img {
	margin-right: 0;
	margin-left: 5px;
}
.ff-social-icon {
	margin: 0 0 5px 5px;
}
div.tb_latest_commentators img {
	margin: 0 0 5px 5px;
}
#TB_window img#TB_Image {
	margin: 14px 14px 14px 0;
}
.minibutton .nb_tooltip:after {
	content: "";
}
.minibutton .nb_tooltip:before {
	content: "‹";
	display: inline-block;
	font-weight: bold;
	width: 1em;
}